In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = 'lending_data.csv'


lending_data_df = pd.read_csv(file_path)

# Review the DataFrame
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

labels_column = "loan_status"

# Separate the y variable, the labels
y = lending_data_df[labels_column]

# Separate the X variable, the features
X = lending_data_df.drop(labels_column, axis=1)

In [4]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
label_counts = y.value_counts()
print(label_counts)

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# Split the data into 80% training and 20% testing (you can adjust the test_size as needed)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Print the shapes of the training and testing datasets to verify the split
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (62028, 7)
y_train shape: (62028,)
X_test shape: (15508, 7)
y_test shape: (15508,)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
log_reg_model = LogisticRegression(random_state=1)

# Fit the model using training data
log_reg_model.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [11]:
# Make a prediction using the testing data
y_pred = log_reg_model.predict(X_test)
pd.DataFrame({'Predictions': y_pred, 'Actual': y_test})

       Predictions  Actual
60914            0       0
36843            0       0
1966             0       0
70137            0       0
27237            0       0
...            ...     ...
30965            1       0
30996            0       0
69036            0       0
23886            0       0
59106            0       0

[15508 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [12]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, y_pred)

0.9521352751368186

In [13]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, y_pred)

array([[14926,    75],
       [   46,   461]], dtype=int64)

In [14]:
# Print the classification report for the model
target_names = ['','']
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

                   1.00      1.00      1.00     15001
                   0.86      0.91      0.88       507

    accuracy                           0.99     15508
   macro avg       0.93      0.95      0.94     15508
weighted avg       0.99      0.99      0.99     15508

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The regession model above has an acurracy score of 93%, capturing 100% of the healthy loan values. All predictions were correct. The regession model only captured 86% of actual high risk loan labels and its predictions were only 91% correct.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [18]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
x_resampled, y_resampled = ros.fit_resample(X, y)

In [20]:
# Count the distinct values of the resampled labels data
distinct_counts = y_resampled.value_counts()
distinct_counts

0    75036
1    75036
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [21]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier_2 = LogisticRegression(solver='lbfgs',random_state=1)
classifier_2

# Fit the model using the resampled training data
classifier_2.fit(x_resampled,y_resampled)

# Make a prediction using the testing data
predictions_2 = classifier_2.predict(x_resampled)
pd.DataFrame({'Predictions Resampled': predictions_2, 'Actual Resampled': y_resampled})

        Predictions Resampled  Actual Resampled
0                           0                 0
1                           0                 0
2                           0                 0
3                           0                 0
4                           0                 0
...                       ...               ...
150067                      1                 1
150068                      1                 1
150069                      1                 1
150070                      1                 1
150071                      1                 1

[150072 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [22]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_resampled, predictions_2)

0.9945026387334079

In [23]:
# Generate a confusion matrix for the model
confusion_matrix(y_resampled, predictions_2)

array([[74614,   422],
       [  403, 74633]], dtype=int64)

In [24]:
# Print the classification report for the model
target_names_resampled = ['','']
print(classification_report(y_resampled, predictions_2, target_names=target_names_resampled))

              precision    recall  f1-score   support

                   0.99      0.99      0.99     75036
                   0.99      0.99      0.99     75036

    accuracy                           0.99    150072
   macro avg       0.99      0.99      0.99    150072
weighted avg       0.99      0.99      0.99    150072

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model captured .99 of all healthy loans and is .99 correct. It yeilded the same results for high risk loans leading this model to be more accurate than the previous one.